[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="vue-target" v-cloak>
  <div v-for="a in animals" class="block">
    <a class="button is-link" @click="goto_animal(a._idx)">
      {{a.animal_name}}
    </a>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_animals_url = "[[=XML(get_animals_url)]]";
  let get_animal_url_url = "[[=XML(get_animal_url_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
